html {
  font-family: 'Roboto', sans-serif; }

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  padding: 0; }

button {
  cursor: pointer !important; }

header button.active > span:first-child {
  position: relative; }
  header button.active > span:first-child:after {
    content: '';
    height: 2px;
    width: 100%;
    border-bottom: 2px solid #000;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%); }

.content-wrapper {
  margin-top: 2rem; }

.text-field {
  vertical-align: bottom; }

.toolbar {
  justify-content: center;
  box-sizing: border-box;
  align-items: flex-end !important;
  background: #EEEEEE;
  padding: 0px 0px 10px 0px;
  height: inherit !important;
  margin-top: 15px; }
  .toolbar .show-all, .toolbar .text-field {
    margin-right: 25px; }
  .toolbar .select-page-entries {
    white-space: nowrap; }
    .toolbar .select-page-entries button {
      vertical-align: middle; }
  .toolbar .text-field {
    width: 300px; }
  .toolbar .pagination {
    white-space: nowrap; }
  .toolbar p {
    display: inline-flex; }
  .toolbar button {
    vertical-align: middle; }

header .nav-buttons {
  display: none; }
  @media (min-width: 1024px) {
    header .nav-buttons {
      display: block;
      flex: 1 1 auto;
      text-align: right; } }

.page-header {
  padding-left: 24px; }

table .row-icon {
  padding-left: 24px;
  text-align: center;
  width: 30px; }

table .row-action {
  width: 50px;
  padding-right: 0 !important; }

.employee-management {
  position: relative; }
  .employee-management h2 {
    margin-left: 24px; }
  .employee-management .add-employee {
    margin-left: 24px; }
  .employee-management .reset-password {
    margin-top: 1rem; }

.dialog-content {
  width: 600px;
  box-sizing: border-box; }
  @media (max-width: 600px) {
    .dialog-content {
      width: 100%; } }
  .dialog-content > div {
    width: 100%;
    display: block;
    margin-bottom: 10px; }
    .dialog-content > div:last-child {
      margin-bottom: 0; }
    .dialog-content > div > div {
      width: 100%;
      margin-bottom: 15px; }
