.dialog-content {
	width: 600px;
	box-sizing: border-box;

	@media(max-width: 600px) {
		width: 100%;
	}

	&>div {
		width: 100%;
		display: block;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}

		&>div {
			width: 100%;
			margin-bottom: 15px;
		}
	}
}