.employee-management {
	position: relative;

	.reset-password {
		margin-top: 1rem;
	}

	.details-updated {
		margin-left: 1rem;
		line-height: inherit;
		align-self: center;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 0.85rem;
	}
}