.feedback-overview {
	.headline {
		left: -16px;
		position: relative;
	}

	.more {
		vertical-align: sub;
	}

	.sub {
		margin-left: 2rem;
		margin-top: -0.7rem;
	}
}

.feedback-trend {
	height: 150px;
	width: 100%;
	position: relative;
	margin-top: 0.5rem;

	.axis {
		border-left: 1px solid #9E9E9E;
		border-bottom: 1px solid #9E9E9E;
		height: 100%;
		width: 100%;
		position: absolute;
	}

	.mood {
		position: absolute;
		top: calc(50% - 16px);
		left: 0;
		width: 32px;
		height: 32px;
		background-image: url(/assets/thumb-unknown.png);
		background-position: 50% 50%;
		background-size: 24px;
		background-repeat: no-repeat;
		cursor: pointer;
		border: 2px solid transparent;
		border-radius: 50%;
		background-color: #dcdcdc;

		span {
			position: absolute;
			bottom: -21px;
			left: -50%;
		}

		&.active {
			border-color: #1B5E20;
		}

		&.positive {
			background-image: url(/assets/thumb-positive.png);
			background-color: $activity-positive;
			top: 0;
		}

		&.neutral {
			background-image: url(/assets/thumb-neutral.png);
			background-color: $activity-neutral;
			top: calc(50% - 16px);
		}

		&.negative {
			background-image: url(/assets/thumb-negative.png);
			background-color: $activity-negative;
			bottom: 0;
		}
	}
}