html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

button {
	cursor: pointer !important;
}

.content-wrapper {
	margin-left: 16px;
	margin-right: 16px;
	margin-top: 2rem;

	@media(min-width: 1440px) {
		width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
}

.text-field {
	vertical-align: bottom;
	margin-bottom: 8px;
}

.form-control {
	width: 100%;
	margin-bottom: 15px;

	&.row {
		flex-direction: row;
	}
}

label {
	font-size: 1rem;
}

input {
	font-size: 1rem !important;
}

.paper {
	padding: 16px;
}

.error {
	align-self: center;
	margin-left: 25px;
	font-weight: 400;
	font-size: 1rem;
	border: 1px solid #D32F2F;
	background: #FFCDD2;
	padding: 16px;
	margin: 16px auto;
	text-align: center;
}
.indent {
	margin-left: 1rem !important;
}

.info {
	text-align: center;
	padding: 10px 15px;
	margin: 10px 0;
}