table {
	td:not(.row-icon):not(.row-action) {
		padding: 0 24px 0 24px;
	}

	.row-icon {
		text-align: center;
		width: 30px;
	}

	.row-action {
		text-align: right;
		padding-right: 0 !important;

		button {
			min-width: 40px;
		}
	}

	.date {
		text-align: left;

		.icon {
			vertical-align: middle;
			padding-right: 10px;
			display: inline-block;
			width: 24px;
		}
	}
}