.toolbar {
    justify-content: center;
    box-sizing: border-box;
    align-items: flex-end !important;

    .show-all, .text-field {
    	margin-right: 25px;
    }

	.select-page-entries {
		white-space: nowrap;

		button {
			vertical-align: middle;
		}
	}

	.text-field {
		width: 300px;
	}

	.pagination {
		white-space: nowrap;
	}

	p {
		display: inline-flex;
	}

	button {
		vertical-align: middle;
	}	
}