.toolbar {
    justify-content: center;
    box-sizing: border-box;
    align-items: flex-end !important;
    background: #EEEEEE;
    padding: 0px 0px 10px 0px;
    height: inherit !important;
    margin-top: 15px;

    @media(max-width: 1024px) {
    	flex-direction: column;

    	&>label, &>div, &>span {
    		align-self: flex-start;
    	}
    }

    .show-all, .text-field {
    	margin-right: 25px;
    	white-space: nowrap;
    }

	.select-page-entries {
		white-space: nowrap;

		button {
			vertical-align: middle;
		}
	}

	.text-field {
		width: 300px;
	}

	.pagination {
		white-space: nowrap;
	}

	p {
		display: inline-flex;
	}

	button {
		vertical-align: middle;
	}	
}